@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0 20px;
  background-color: #121517;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.header__pages {
  display: flex;
  align-items: center;
  gap: 94px;
  padding-top: 57px;
}

.pages {
  display: flex;
  gap: 93px;
}

.logo {
  cursor: pointer;
}

.pages__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #d9d9d9;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: -0.1875rem;
  color: #fff;
  margin: 0;
  margin-bottom: 3.375rem;
  margin-top: 5.5625rem;
}

.main__title2 {
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: -0.1875rem;
  color: #237249;
  color: #35c66b;
}

.main__desc {
  width: 100%;
  max-width: 35.625rem;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -2%;
  line-height: 163%;
  color: #d9d9d9;
  margin-bottom: 3.375rem;
}

.main__btn{
  display: flex;
  gap: 1rem;
}

.main__btn1 {
  font-weight: 639;
  font-size: 1.5rem;
  line-height: 146%;
  letter-spacing: -2%;
  color: #ffffff;
  background-color: #237249;
  background-color: #35c66b;
  cursor: pointer;
  border: none;
  padding: 20px 78px 20px 78px;
  border-radius: 2.8125rem;
}

.main__btn2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 146%;
  letter-spacing: -3%;
  color: #D9D9D9;
  background-color: #121517;
  cursor: pointer;
  padding: 20px 54px;
  border-radius: 2.8125rem;
}

.user{
  display: flex;
  margin-top: 54px;
  gap: 2.875rem;
}
.info__user{
  width: 100%;
  max-width: 7.625rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 144%;
  letter-spacing: -2%;
  color: #D9D9D9;
}

.dop__info{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.625rem;
  margin-top: 8.125rem;
  padding: 40px 0;
  background-color: #E5E5E5;
  border-radius: 2.875rem;
}

.star__img{
  position: absolute;
  left: -90px;
  top: -90px;
}

.dop__inof-img{
  width: 146px;
  height: 170px;
}

.dop__info-wrap{
  width: 100%;
  max-width: 11.0625rem;
}
